<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywgroup.iecloud.iecloudwms.dao.CustomerAddressMapper" >
  <resultMap id="BaseResultMap" type="com.ywgroup.iecloud.iecloudwms.pojo.CustomerAddress" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="SnNum" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CusNum" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Contact" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IsDelete" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="CreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="CreateUser" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Remark" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SnNum, CusNum, Contact, Phone, Address, IsDelete, CreateTime, CreateUser, Remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customer_address
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer_address
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ywgroup.iecloud.iecloudwms.pojo.CustomerAddress" >
    insert into customer_address (ID, SnNum, CusNum, 
      Contact, Phone, Address, 
      IsDelete, CreateTime, CreateUser, 
      Remark)
    values (#{id,jdbcType=INTEGER}, #{snnum,jdbcType=VARCHAR}, #{cusnum,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{isdelete,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{createuser,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ywgroup.iecloud.iecloudwms.pojo.CustomerAddress" >
    insert into customer_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="snnum != null" >
        SnNum,
      </if>
      <if test="cusnum != null" >
        CusNum,
      </if>
      <if test="contact != null" >
        Contact,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="address != null" >
        Address,
      </if>
      <if test="isdelete != null" >
        IsDelete,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="createuser != null" >
        CreateUser,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="snnum != null" >
        #{snnum,jdbcType=VARCHAR},
      </if>
      <if test="cusnum != null" >
        #{cusnum,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ywgroup.iecloud.iecloudwms.pojo.CustomerAddress" >
    update customer_address
    <set >
      <if test="snnum != null" >
        SnNum = #{snnum,jdbcType=VARCHAR},
      </if>
      <if test="cusnum != null" >
        CusNum = #{cusnum,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        Contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        IsDelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        CreateUser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ywgroup.iecloud.iecloudwms.pojo.CustomerAddress" >
    update customer_address
    set SnNum = #{snnum,jdbcType=VARCHAR},
      CusNum = #{cusnum,jdbcType=VARCHAR},
      Contact = #{contact,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      IsDelete = #{isdelete,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      CreateUser = #{createuser,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>