<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywgroup.iecloud.iecloudwms.dao.MeasureMapper" >
  <resultMap id="BaseResultMap" type="com.ywgroup.iecloud.iecloudwms.pojo.Measure" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="SN" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MeasureNum" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MeasureName" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SN, MeasureNum, MeasureName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from measure
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from measure
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ywgroup.iecloud.iecloudwms.pojo.Measure" >
    insert into measure (ID, SN, MeasureNum, 
      MeasureName)
    values (#{id,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR}, #{measurenum,jdbcType=VARCHAR}, 
      #{measurename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ywgroup.iecloud.iecloudwms.pojo.Measure" >
    insert into measure
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="sn != null" >
        SN,
      </if>
      <if test="measurenum != null" >
        MeasureNum,
      </if>
      <if test="measurename != null" >
        MeasureName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="measurenum != null" >
        #{measurenum,jdbcType=VARCHAR},
      </if>
      <if test="measurename != null" >
        #{measurename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ywgroup.iecloud.iecloudwms.pojo.Measure" >
    update measure
    <set >
      <if test="sn != null" >
        SN = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="measurenum != null" >
        MeasureNum = #{measurenum,jdbcType=VARCHAR},
      </if>
      <if test="measurename != null" >
        MeasureName = #{measurename,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ywgroup.iecloud.iecloudwms.pojo.Measure" >
    update measure
    set SN = #{sn,jdbcType=VARCHAR},
      MeasureNum = #{measurenum,jdbcType=VARCHAR},
      MeasureName = #{measurename,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>